{% extends 'base.html.twig' %}

{% block css %} 

    {# Range Slider #}
    <link rel="stylesheet" href="{{asset('asset/css/rSlider.css')}}">

{% endblock %}

{% block title %}Clap te trouve un film{% endblock %}

{% block content %}

    <div class="container find-movie">
        <div class="row justify-content-center">
            <img src="asset/img/logoLR.png" alt="logo Clap" class="logo mb-4 mt-5">
        </div>

        <div class="row row-cols-sm-2 justify-content-center">
            <h1 class="m-5 mt-lg-5 mb-lg-5 text-center">Clap te trouve un film ! </h1>
        </div>

        <div class="row justify-content-center">
            <img src="{{asset('asset/img/clapper.jpg')}}" alt="clapper" class="img-clapper">
        </div>

        <div class="row justify-content-center">
            <h2 class="choice m-5 mt-lg-5 mb-lg-5 text-center">Tu sais déjà un peu ce que tu veux ...</h2>
        </div>

        {# Form with criteria #}
        <form method="get" class="mt-4" id="visitor_criteria">
            <div class="row justify-content-center mb-5">
                <div class="col-11 col-lg-6">
                    <h2 class="mb-5 text-center">Genres</h2>
                    <div class="mt-4">
                        <div class="row row-cols-xl-4 justify-content-center">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="action" name="genre[]" value="action">
                                <label class="form-check-label" for="action">Action</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="animation" name="genre[]" value="animation">
                                <label class="form-check-label" for="animation">Animation</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="adventure" name="genre[]" value="adventure">
                                <label class="form-check-label" for="adventure">Aventure</label>
                            </div>
                        </div>
                        <div class="row row-cols-xl-4 justify-content-center ">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="comedy" name="comedy" value="comedy">
                                <label class="form-check-label" for="comedy">Comédie</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="drama" name="drama" value="drama">
                                <label class="form-check-scary" for="drama">Drame</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="scary" name="scary" value="scary">
                                <label class="form-check-label" for="scary">Epouvante-horreur</label>
                            </div>
                        </div>
                        <div class="row row-cols-xl-4 justify-content-center ">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="family" name="family" value="family">
                                <label class="form-check-label" for="family">Famille</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="fantastic" name="fantastic" value="fantastic">
                                <label class="form-check-label" for="fantastic">Fantastique</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="war" name="war" value="war">
                                <label class="form-check-label" for="war">Guerre</label>
                            </div>
                        </div>
                        <div class="row row-cols-xl-4 justify-content-center ">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="historic" name="historic" value="historic">
                                <label class="form-check-label" for="historic">Historique</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="crime" name="crime" value="crime">
                                <label class="form-check-label" for="crime">Policier</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="romantic" name="romantic" value="romantic">
                                <label class="form-check-label" for="romantic">Romance</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="scifi" name="scifi" value="scifi">
                                <label class="form-check-label" for="scifi">Science fiction</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="thriller" name="thriller" value="thriller">
                                <label class="form-check-label" for="thriller">Thriller</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center my-5 py-5">
                <div class="col-8 col-lg-6">
                    <h2 class="mb-5 text-center">Année de production</h2>
                    <div class="form-group mt-5">
                        <input type="text" id="slider1" class="slider1" name="slider1">
                    </div>
                </div>
            </div>

            <div class="row justify-content-center my-5 py-5">
                <div class="col-8 col-lg-6">
                    <h2 class="mb-5 text-center">Durée du film</h2>
                    <div class="form-group mt-5">
                        <input type="text" id="slider2" class="slider2" name="slider2">
                    </div>
                </div>
            </div>

            <div class="row justify-content-center my-5 py-5">
                <div class="col-11 col-lg-6 mt-4">
                    <h2 class="text-center">Nationalité</h2>
                    <div class="row row-cols-xl-4 justify-content-center mb-3">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="french" name="french" value="french">
                            <label class="form-check-label" for="french">Français</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="american" name="american" value="american">
                            <label class="form-check-label" for="american">Américain</label>
                        </div>  
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="korean" name="korean" value="korean">
                            <label class="form-check-label" for="korean">Sud-coréen</label>
                        </div>
                    </div>
                    <div class="row row-cols-xl-4 justify-content-center">   
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="spanish" name="spanish" value="spanish">
                            <label class="form-check-label" for="spanish">Espagnol</label>
                        </div>   
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="italian" name="italian" value="italian">
                            <label class="form-check-label" for="italian">Italien</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" id="other" name="other" value="other">
                            <label class="form-check-label" for="other">Autre</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center my-3 py-3 film_actor_director">
                <div class="col-11 col-lg-6">
                    <h2 class="text-center">Acteurs et Réalisateurs</h2>
                    <div class="input-group mb-3 mt-4" id="newItemForm">
                        <input type="text" class="form-control" placeholder="Acteurs ou réalisateurs favoris ..." id="film_actor_director" name="film_actor_director">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary seek" type="submit" id="button-addon2">Chercher</button>
                        </div>
                    </div>
                    <div id="list_section" class="text-center">
                        <div id="people_list">
                            <ul>
                            
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center my-5 py-5">
                <button type="submit" class="btn btn-secondary go" id="go">GO</button>
            </div>
        </form>


        {# carousel to host random films recommendations#}
        <div id="search-result" class="carousel slide search-result" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="..." class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5></h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5></h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5></h5>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Précédent</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Suivant</span>
            </a>
        </div>

        {# separator #}
        <div class="row justify-content-center">
            <div class="col-6 separator"></div>
        </div>

        {# random recommendation #}
        <div class="row justify-content-center">
            <h2 class="choice mt-5 mb-5 text-center">Tu es aventureux ?</h2>
        </div>

        <div class="row justify-content-center mb-5 pb-5">
            <button type="submit" class="btn btn-secondary random-film" id="hasard">films au hasard</button>
        </div>

        {# Carousel to host random films recommendations #}
        <div id="ramdom-result" class="carousel slide ramdom-result" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="..." class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5></h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5></h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5></h5>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Précédent</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Suivant</span>
            </a>
        </div>
    </div>

{% endblock %}

{% block js %}

    {# Range slider #}
    <script src="{{asset('asset/js/rSlider.min.js')}}"></script>

    {# Ajax - Axios #}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        {# Ajax Random Function #}
        axios.get("{{ path('movie_ajax_movie_criteria') }}")
        .then(function (response) {
            console.log(response.data);
        })
        .catch(function (error) {
            console.log(error);
        });

       

        {# Range slider Function #}
        (function () {
                var init = function () { 
                
                    var slider1 = new rSlider({
                        target: '#slider1',
                        values: [1915, 1950, 1980, 2000, 2010, 2020],
                        range: true, // range slider
                        set: [1970, 2005],
                        width:    null,
                        scale:    true,
                        labels:   true,
                        tooltip:  true,
                        step:     null, // step size
                        disabled: false, // not disabled
                        onChange: function (vals) {
                                    console.log(vals);
                                }
                    });
                    var slider2 = new rSlider({
                            target: '#slider2',
                            values: {min: 70, max: 210},
                            step: 10,
                            range: true,
                            set: [90, 120],
                            scale: true,
                            labels: false,
                            onChange: function (vals) {
                                console.log(vals);
                            }
                        });
                };
                window.onload = init;
        })();

        {# jQuery Tags function #}
        $(function() {
            // Assign values to variables
            var $peopleList, $newItemForm;
            $peopleList = $('#people_list');
            $newItemForm = $('#newItemForm');
            
            // Listen to the event submit the form (always put preventDefault)
            $newItemForm.on('submit', function(e) {
                e.preventDefault();
                // Get the value of the imput with val()
                var text = $('#film_actor_director').val();
                // Add the retrieved value in the end of the list
                $peopleList.append('<li title="Cliquer pour enlever">' + text + '</li>');
                $('#film_actor_director').val('');
            });
        
            // Listen to the event click to remove items
            $peopleList.on('click', 'li', function() {
                var $this = $(this);
                $this.remove();
            });
    
        });

        {# Ajax function for the form #}
        $('#visitor_criteria').on('submit',function(e){

            e.preventDefault();
            // Variable get the value of alll form fields
            var datas =  $('#visitor_criteria').serialize();
            // Get the route
            $.get('{{ path('movie_ajax_movie_criteria') }}', datas, function(response){
                
            })
        });

    </script>

{% endblock %}
