{% extends 'base.html.twig' %}

{% block css %} 

    {# Range Slider #}
    <link rel="stylesheet" href="{{asset('asset/css/rSlider.css')}}">

{% endblock %}

{% block title %}Clap te trouve un film{% endblock %}

{% block content %}

    {# Salutations #}
    {% if app.user %}
        <div class="animation">
            <span class="text2">Bonjour {{app.user.pseudo}} !</span>
        </div>
    {% endif %}

    <div class="banniere-find">
        <img src="{{asset('asset/img/admission.jpg')}}" alt="admission" id="img-admission">
        <h1 class="title-find text-center">Clap te trouve un film ! </h1>
        <img src="{{asset('asset/img/ticket.png')}}" alt="ticket" width="140" height="140" id="img-ticket">
    </div>  

    <div class="container find-movie">

        <div class="row justify-content-center mt-5">
            <h2 class="choice m-5 mt-lg-5 mb-lg-5 text-center">Tu sais déjà un peu ce que tu veux ...</h2>
        </div>

        {# Form with criteria #}
        <form method="get" action="#resultFakeForScroll"  class="mt-4" id="visitor_criteria">
            <div class="row justify-content-center mb-5">
                <div class="col-11 col-lg-6">
                    <h2 class="mb-5 text-center">Genres <i class="fas fa-check-double"></i></h2>
                    <div class="row mt-4">
                        <div class="col-xl-4">
                            <div class="form-check form-check-inline mb-3">
                                <input class="form-check-input" type="checkbox" id="action" name="with_genres[]" value="28">
                                <label class="form-check-label" for="action">Action</label>
                            </div>
                            <div class="form-check form-check-inline mb-3">
                                <input class="form-check-input" type="checkbox" id="animation" name="with_genres[]" value="16">
                                <label class="form-check-label" for="animation">Animation</label>
                            </div>
                            <div class="form-check form-check-inline mb-3">
                                <input class="form-check-input" type="checkbox" id="adventure" name="with_genres[]" value="12">
                                <label class="form-check-label" for="adventure">Aventure</label>
                            </div>
                            <div class="form-check form-check-inline mb-3">
                                <input class="form-check-input" type="checkbox" id="comedy" name="with_genres[]" value="35">
                                <label class="form-check-label" for="comedy">Comédie</label>
                            </div>
                            <div class="form-check form-check-inline mb-3">
                                <input class="form-check-input" type="checkbox" id="drama" name="with_genres[]" value="18">
                                <label class="form-check-scary" for="drama">Drame</label>
                            </div>
                        </div>
                        <div class="col-xl-4 ">
                            <div class="form-check form-check-inline mb-3">
                                <input class="form-check-input" type="checkbox" id="horror" name="with_genres[]" value="27">
                                <label class="form-check-label" for="horror">Horreur</label>
                            </div>
                            <div class="form-check form-check-inline mb-3">
                                <input class="form-check-input" type="checkbox" id="family" name="with_genres[]" value="10751">
                                <label class="form-check-label" for="family">Famille</label>
                            </div>
                            <div class="form-check form-check-inline mb-3">
                                <input class="form-check-input" type="checkbox" id="fantastic" name="with_genres[]" value="14">
                                <label class="form-check-label" for="fantastic">Fantastique</label>
                            </div>
                            <div class="form-check form-check-inline mb-3">
                                <input class="form-check-input" type="checkbox" id="war" name="with_genres[]" value="10752">
                                <label class="form-check-label" for="war">Guerre</label>
                            </div>
                            <div class="form-check form-check-inline mb-3">
                                <input class="form-check-input" type="checkbox" id="history" name="with_genres[]" value="36">
                                <label class="form-check-label" for="history">Historique</label>
                            </div>
                        </div>
                        <div class="col-xl-4 ">
                            <div class="form-check form-check-inline mb-3">
                                <input class="form-check-input" type="checkbox" id="crime" name="with_genres[]" value="80">
                                <label class="form-check-label" for="crime">Policier</label>
                            </div>
                            <div class="form-check form-check-inline mb-3">
                                <input class="form-check-input" type="checkbox" id="romance" name="with_genres[]" value="10749">
                                <label class="form-check-label" for="romance">Romance</label>
                            </div>
                            <div class="form-check form-check-inline mb-3">
                                <input class="form-check-input" type="checkbox" id="scifi" name="with_genres[]" value="878">
                                <label class="form-check-label" for="scifi">Science fiction</label>
                            </div>
                            <div class="form-check form-check-inline mb-3">
                                <input class="form-check-input" type="checkbox" id="thriller" name="with_genres[]" value="53">
                                <label class="form-check-label" for="thriller">Thriller</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {# Release year #}
            <div class="row justify-content-center my-5 py-5">
                <div class="col-8 col-lg-6">
                    <h2 class="mb-5 text-center">Année de production  <i class="far fa-calendar-alt"></i></h2>
                    <div class="form-group mt-5">
                        <input type="text" id="slider1" class="slider1" name="release_date">
                    </div>
                </div>
            </div>

            {# Film runtime #}
            <div class="row justify-content-center my-5 py-5">
                <div class="col-8 col-lg-6">
                    <h2 class="mb-5 text-center">Durée du film  <i class="fas fa-hourglass-half"></i></h2>
                    <div class="form-group mt-5">
                        <input type="text" id="slider2" class="slider2" name="with_runtime">
                    </div>
                </div>
            </div>
            
            
            <span id="resultFakeForScroll"></span>
            {# Button GO#}
            <div class="row justify-content-center my-5 py-5">
                <button type="submit" class="btn btn-secondary go" id="go">GO  <i class="fas fa-smile-beam"></i></button>
            </div>

            {# Carousel to display all results #}
            <div id="multi-item-example" class="carousel slide carousel-multi-item {% if showCarousel == false %}d-none{% endif %}" data-ride="carousel">
                <!--Slides-->
                <div class="carousel-inner" role="listbox">
                    {% set i = 0 %}
                    {% for movie_result_global in movie_results_global %}
                        {% set i = i + 1  %} 
                        <div class="carousel-item with-background  {{ i == 1 ? 'active' : '' }}">
                            <div class="row justify-content-center px-xl-5 mx-3 mx-xl-5">
                                <div class="col-12 col-xl-4">
                                    <img class="img-fluid rounded " src="http://image.tmdb.org/t/p/w300/{{ movie_result_global.poster_path }}" alt="{{ movie_result_global.title}}">
                                </div>
                                <div class="col-12 col-xl-8">
                                    <h3 class="text-light d-none d-md-block"><a href="{{ path('movie_details',{ id: movie_result_global.id }) }}">{{ movie_result_global.title }}</a></h3>
                                    <p class="text-light d-none d-md-block">VO en {{ movie_result_global.original_language|upper}}</p>
                                    <p class="text-light d-none d-md-block"><i class="fas fa-star"></i> Note moyenne : {{ movie_result_global.vote_average}}</p>
                                    <p class="text-light d-none d-md-block">{{ movie_result_global.overview|slice(0, 125) }}...</p>
    
                                    <a class="btn btn-primary btn-sm btn-block d-md-none mt-3" href="{{ path('movie_details',{ id: movie_result_global.id }) }}">Lire la suite</a>
                                    <a class="btn btn-outline-primary btn-sm d-none d-md-inline-block" href="{{ path('movie_details',{ id: movie_result_global.id }) }}">Lire la suite</a>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <a class="carousel-control-prev d-none d-lg-flex" href="#multi-item-example" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next d-none d-lg-flex" href="#multi-item-example" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
            
        </form>
            
        {# Separator #}
        <div class="row justify-content-center mt-5 pt-5">
            <div class="col-6 separator"></div>
        </div>

        {# Random recommendation #}
        <div class="row justify-content-center">
            <h2 class="choice mt-5 mb-5 text-center">Tu es aventureux ?</h2>
        </div>

        <div class="row justify-content-center mb-5 pb-5">
            <button type="submit" class="btn btn-secondary random-film" id="hasard">Un film au hasard <i class="fas fa-random"></i></button>
        </div>

        {# Display films randomly #}
        <div class="row justify-content-center {% if showRandom == false %}d-none{% endif %}" id="discover_random">
            <div class="col-4 col-xl-6 text-center">
                <h3 id="title" class="randomly"></h3>
                <img id="poster" class="randomposter my-5 pb-5 rounded w-70" >
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}

    {# Range slider #}
    <script src="{{asset('asset/js/rSlider.min.js')}}"></script>

    {# Ajax - Axios #}
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        {# Ajax Random Function #}
        function getRandomInt(min, max) {
            return min + Math.floor(Math.random() * (max - min + 1));
        }
        $('#hasard').on('click', function(){
            axios.get("{{ path('movie_ajax_random') }}")
            .then(function (response) {
                console.log(response.data.id)
                //Titre
                let htmlTitle = '<a href="'+ response.data['link_custom'] +'">' + response.data['title'] +'</a>';
                $('#title').html(htmlTitle)
                //Poster
                $('#poster').attr('src', 'http://image.tmdb.org/t/p/w500/' + response.data['poster_path'])
                $('#poster').attr('alt', 'Poster du film')
            })
            .catch(function (error) {
                console.log(error);
            });
        });

        {# Range slider Function #}
        (function () {
                var init = function () { 
                
                    var slider1 = new rSlider({
                        target: '#slider1',
                        values: {min: 1915, max: 2020},
                        range: true, // range slider
                        set: [1970, 2005],
                        scale:    true,
                        labels:   false,
                        step:     10, // step size
                        onChange: function (vals) {
                                    console.log(vals);
                                }
                    });
                    var slider2 = new rSlider({
                        target: '#slider2',
                        values: {min: 70, max: 210},
                        step: 10,
                        range: true,
                        set: [90, 120],
                        scale: true,
                        labels: false,
                        onChange: function (vals) {
                            console.log(vals);
                        }
                    });
                };
                window.onload = init;
        })();



        // Display the random film
        $('#hasard').on('click', function(e){
            e.preventDefault();
            $('#discover_random').removeClass('d-none');
        });
        
    </script>

{% endblock %}