{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block css %}
<link href="{{ asset('asset/css/fab.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="accueil">
    <div>
        <img src="{{asset('asset/img/accueilcustom.jpg')}}" alt="accueil" class="img-accueil">
    </div>
    <div id="logo-presentation">
        <img src="{{asset('asset/img/logoBLG1.png')}}" alt="logo" width="350" height="350">
    </div>
</div

<section>

    <div class="container home mt-5">
        {# <div class="row justify-content-center">
            <img src="{{asset('asset/img/logoLR.png')}}" alt="logo" width="400" height="400">
        </div> #}
        <div class="row justify-content-center">
            <h1 class="title text-center quel-film-ce-soir mt-5">Quel film regarder ce soir ?</h1>
        </div>
        <div class="row justify-content-center">
            <h2 class="title text-center">Nous avons la réponse !</h2>
        </div>
        <div class="row justify-content-center">
            <i class="far fa-laugh-beam"></i>
        </div>
        <div class="row justify-content-center text-center">
            <p class="phome">Vous avez envie de voir un bon film mais ne vous savez pas lequel, <strong>CLAP</strong> est fait pour vous !
        </div>
        <div class="row justify-content-center text-center">
            <p class="phome">Fini les galères de chercher pendant une heure la perle rare.</p>
        </div>
         <div class="row justify-content-center text-center">
            <p class="phome">Grâce à notre algorithme super puissant, il vous suffit de quelques clics afin de trouver LE film qui vous correspond.</p>
        </div>
        <div class="row justify-content-center text-center">
            <p class="phome"><strong>A vous de jouer !</strong> </p>
        </div>
        <div class="row justify-content-center pb-5 mt-4">
            <a href="{{ path('movie_find') }}"><button class="btn trouver-film-btn btn-danger btn-lg ">Trouver un film</button></a>
        </div>
        <div class="row justify-content-center">
            <img src="{{asset('asset/img/popcorn.png')}}" alt="popcorn" class="img-popcorn">
        </div>
    </div>
</section>
{% endblock %}

{% block js %} {% endblock %} 

