{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block content %}
<h1 class="text-center my-5">Liste des utilisateurs</h1>
<div class="row justify-content-center">
		<div class="col-8">

			{# {% for label, messages in app.flashes%}
				<div class="alert alert-{{ label }}">
					{% for message in messages %}
						{{ message|raw }}
					{% endfor %}
				</div>
			{% endfor %} #}

			<div class="table-responsive">
				<table class="table" style="color: white">
					<thead>
						<tr>
							<th>id</th>
							<th>Pseudo</th>
							<th>Prénom</th>
							<th>Nom</th>
							<th>Email</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
                    {% for user in users %}
						<tr>
							<td>{{user.id}}</td>
							<td>{{user.pseudo}}</td>
							<td>{{user.firstname}}</td>
							<td>{{user.lastname}}</td>
							<td>{{user.email}}</td>
							<td>
								<a href="{{ path('admin_view',{ id: user.id }) }}">Voir</a>
								<a href="{{ path('admin_suppr',{ id: user.id }) }}">Supprimer</a>
							</td>
						</tr>
                    {% endfor %}
					</tbody>
			</table>
		</div>
	</div>


	<div style="visibility: hidden">
		 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis risus erat, sollicitudin non semper in, venenatis non lacus. Proin quis ipsum ultricies, consectetur neque ac, rhoncus est. Ut varius nisi et venenatis hendrerit. Morbi a nunc quis velit maximus malesuada. Praesent egestas luctus condimentum. Vivamus est sapien, porttitor sed justo non, ornare volutpat tellus. Quisque faucibus libero enim, nec tincidunt erat tincidunt eget. Sed tempus urna sit amet quam varius, eu tristique eros fringilla. Nulla a justo sollicitudin, tincidunt nibh eu, vulputate urna. Nunc semper dapibus ligula quis rutrum. Duis porta sagittis bibendum. Pellentesque nibh quam, scelerisque quis risus sed, hendrerit tristique lectus. Aliquam bibendum porta purus, et dapibus lectus pharetra id. Aenean dapibus pellentesque iaculis. Donec molestie lectus et risus posuere, a lobortis ante placerat. Nunc nunc nibh, porta vel scelerisque nec, elementum ac nulla. Morbi ac varius massa, et dictum est. Nunc molestie mollis odio, sed hendrerit arcu cursus ac. Integer dapibus a nibh rutrum tristique. Morbi viverra arcu risus, eu ornare felis auctor vitae. Proin id velit eu sapien commodo iaculis at eget dolor. Vestibulum tempor turpis odio, nec pretium ipsum facilisis vitae. Nam at magna sed 
	</div>
{% endblock %}
