{% extends 'base.html.twig' %}

{% block title %}Informations utilisateur
{% endblock %}

{% block content %}
<div class="container user-view">
	<h1 class="text-center">Informations utilisateur</h1>

	<div class="row justify-content-center">
		<div class="col-8">
			<div class="table-responsive">
				<table class="table" style="color: white">
					<thead>
						<tr>
							<th>id</th>
							<th>Pseudo</th>
							<th>Prénom</th>
							<th>Nom</th>
							<th>Email</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{user.id}}</td>
							<td>{{user.pseudo}}</td>
							<td>{{user.firstname}}</td>
							<td>{{user.lastname}}</td>
							<td>{{user.email}}</td>
						</tr>
					</tbody>
				</table>

				{# Bouton de retour #}
				<div class="text-center return">
					<a href="{{ path('admin_list') }}" class="btn bg_perso p-2">Retour</a>
				</div>

			</div>
		</div>
		</div>
	{% endblock %}
