{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block content %}
<div class="container">
	<h1 class="text-center mt-5 pt-5">Liste des utilisateurs</h1>
	<div class="row justify-content-center">
		<div class="col-8">
			<div class="table-responsive">
				<table class="table" style="color: white">
					<thead>
						<tr>
							<th>id</th>
							<th>Pseudo</th>
							<th>Prénom</th>
							<th>Nom</th>
							<th>Email</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
                    {% for user in users %}
						<tr>
							<td>{{user.id}}</td>
							<td>{{user.pseudo}}</td>
							<td>{{user.firstname}}</td>
							<td>{{user.lastname}}</td>
							<td>{{user.email}}</td>
							<td>
								<a href="{{ path('admin_view',{ id: user.id }) }}">Voir</a>
								<a href="{{ path('admin_suppr',{ id: user.id }) }}">Supprimer</a>
							</td>
						</tr>
                    {% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
